name: SonarQube

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  sonarqube:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check SonarQube availability
        shell: powershell
        run: |
          curl.exe -sS $env:SONAR_HOST_URL/api/system/status

      - name: Run SonarScanner
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          sonar-scanner `
            -Dsonar.projectKey=My-Project `
            -Dsonar.sources=. `
            -Dsonar.host.url=$env:SONAR_HOST_URL `
            -Dsonar.token=$env:SONAR_TOKEN
